@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@100;200;300;400;500;600;700;800;900&family=Tajawal:wght@200;300;400;500;700;800;900&display=swap");

:root {
  --main-color: #31cbf2;
  --bg-color: #000405;
  --section-padding: 50px;
  --text-color: #888;
  --main-transition: all 0.5s ease-in-out;
}

/* Start Global Rules */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: 'Cinzel Decorative', cursive;
  font-family: "Fira Sans", sans-serif;
  background-color: var(--bg-color);
  margin: 0;
  padding: 0;
  height: 5000px;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

.main-title {
  margin: 30px auto 80px;
  border: 2px solid var(--text-color);
  padding: 10px 20px;
  font-size: 30px;
  width: fit-content;
  position: relative;
  z-index: 1;
  transition: var(--main-transition);
  color: var(--main-color);
  cursor: pointer;
  border-radius: 20px;
}

.main-title:hover {
  color: white;
  border: 2px solid white;
  transition-delay: 0.5s;
}

.main-title::before,
.main-title::after {
  content: "";
  width: 15px;
  height: 15px;
  background-color: var(--main-color);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 50%;
}

.main-title::before {
  left: -50px;
}

.main-title::after {
  right: -50px;
}

.main-title:hover::before {
  z-index: -1;
  animation: left-move 0.5s linear forwards;
}

.main-title:hover::after {
  z-index: -1;
  animation: right-move 0.5s linear forwards;
}

/* End Global Rules */

/* Start Header */

header {
  background-color: #000405;
  width: 100%;
}

.navbar-brand {
  color: var(--main-color);
}

.navbar-brand img {
  width: 40px;
  height: 40px;
  margin-right: 5px;
}

.nav-link {
  font-size: 20px;
  color: #888;
}

.nav-link:focus,
.nav-link:hover {
  color: var(--main-color);
  font-weight: bold;
}

.navbar-brand:focus,
.navbar-brand:hover {
  color: var(--main-color);
}

.navbar-toggler {
  border-color: #888;
}

.navbar-toggler:focus {
  box-shadow: 0px 0px 8px 3px var(--main-color);
}

.navbar-nav .nav-link.active,
.navbar-nav .show>.nav-link {
  color: var(--main-color);
  font-weight: bold;
}

.dropdown-menu[data-bs-popper] {
  top: 125%;
  left: -80px;
}

/* End Header */

/* Start Landing Page */

.landing {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: calc(100vh - 70px);
  background-image: url(../images/Bg-landing.WebP);
  background-size: cover;
  background-position: 50%;
}

.overlay {
  background-color: rgb(0 0 0 / 90%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.landing .left-content {
  /* background-color: #111; */
  width: 50%;
  z-index: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.landing .left-content .inner-content {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.speed-counter {
  bottom: 20px;
  right: 0;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.7);
  padding: 5px 10px;
  font-size: 18px;
}

.speed-counter input {
  width: 50px;
  padding: 5px;
  font-size: 18px;
  background-color: var(--main-color);
  border: none;
  text-align: center;
}

.speed-counter input:focus {
  outline: none;
}

.landing .left-content .inner-content aside {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 25%;
}

.landing .left-content .inner-content aside ul {
  margin: 0;
  padding: 0;
  margin-top: 60px;
}

.landing .left-content .inner-content aside ul li a svg {
  margin: 15px 5px;
  font-size: 22px;
  color: var(--main-color);
}

.landing .left-content .inner-content aside .scrol {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-top: 50px;
}

.landing .left-content .inner-content aside .scrol span {
  width: 1px;
  height: 50px;
  background: #888888;
}

.landing .left-content .inner-content aside .scrol .scroll-icon {
  margin: 10px 0;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid #888888;
  cursor: pointer;
  position: relative;
}

.landing .left-content .inner-content aside .scrol .scroll-icon svg {
  color: #888888;
  font-size: 14px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-animation: scroll 1.5s ease-in-out infinite;
  animation: scroll 1.5s ease-in-out infinite;
}

.landing .left-content .inner-content main {
  min-width: 75%;
}

.landing .left-content .inner-content main .hey {
  text-transform: uppercase;
  color: var(--main-color);
  padding-left: 5px;
}

.landing .left-content .inner-content main p {
  color: #888888;
  margin-top: 20px;
}

.landing .left-content .inner-content main .h1 {
  text-transform: uppercase;
  color: var(--main-color);
}

.landing .left-content .inner-content main h2 {
  margin-top: 20px;
  color: #888888;
}

.landing .left-content .inner-content main .qoute {
  width: 90%;
}

.landing .left-content .inner-content main .btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
  width: 100%;
  margin-top: 30px;
}

.btns a {
  background-color: #212121;
  text-decoration: none;
  padding: 15px;
  border-radius: 4px;
  color: #ffffff;
  -webkit-box-shadow: rgb(0 0 0 / 25%) 0px 1px 4px;
  box-shadow: rgb(0 0 0 / 25%) 0px 1px 4px;
  font-size: 14px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.btns a:hover {
  background-color: var(--main-color);
}

.landing .right-slider {
  z-index: 0;
  width: 50%;
  margin: auto;
}

.landing .my_pic {
  position: relative;
  height: 300px;
  width: 300px;
  border: 6px solid var(--main-color);
  margin: auto;
  background-image: url(../images/me.WebP);
  background-size: cover;
  background-position: 50%;
  border-radius: 70% 34% 30% 66%/65% 30% 70% 70%;
  border-radius: 100% 0 100% 0/0 0 100% 100%;
  -webkit-animation: border-radius_animation 10s linear infinite;
  animation: border-radius_animation 10s linear infinite;
  -webkit-animation: border-radius_animation 8s linear infinite;
  animation: border-radius_animation 8s linear infinite;
}

@media (max-width:991px) {
  .overlay {
    flex-direction: column-reverse;
  }

  .landing {
    height: auto;
  }

  .landing .right-slider {
    margin: 50px auto 0px;
  }

  .landing .left-content {
    width: 100%;
  }

  .landing .left-content .inner-content aside {
    min-width: 20%;
  }

  .landing .right-slider {
    width: 100%;
  }
  .speed-counter {
    display: none;
  }
  .speed-counter label {
    display: none;
  }

}

/* End Landing Page */

/* Start About Section */
.about {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}

.about .images {
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 320px;
  max-height: 320px;
}

.about .images::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0;
  border: 10px solid var(--main-color);
  border-radius: 6px;
  z-index: 0;
}

.about .images img {
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 320px;
  max-height: 320px;
  border-radius: 6px;
  top: 45px;
  left: 30px;
  z-index: 1;
  object-fit: cover;
  object-position: top;
}

.about .text {
  margin-top: 60px;
}

.about .text .link {
  color: var(--main-color);
  transition: var(--main-transition);
}

.about .text .link:hover {
  letter-spacing: 1px;
}

@media (max-width: 400px) {
  .about .images img {
    width: 90%;
    height: 90%;
  }

  .about .images::after {
    width: 90%;
    height: 90%;
  }
}

/* End About Section */

/* start Animation */

@keyframes border-radius_animation {

  0%,
  to {
    border-radius: 70% 34% 30% 66%/65% 48% 52% 35%;
    top: 0;
  }

  50% {
    border-radius: 30% 70% 70% 30%/30% 30% 70% 70%;
    top: -50px;
  }

}

@keyframes left-move {
  50% {
    left: 0;
    width: 15px;
    height: 15px;
  }

  100% {
    left: 0;
    border-radius: 0;
    border-top-left-radius: 17px;
    border-bottom-left-radius: 17px;
    width: 51%;
    height: 100%;
  }
}

@keyframes right-move {
  50% {
    right: 0;
    width: 15px;
    height: 10px;
  }

  100% {
    right: 0;
    border-radius: 0;
    border-top-right-radius: 17px;
    border-bottom-right-radius: 17px;
    width: 50%;
    height: 100%;
  }
}

/* End Animation */