@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@100;200;300;400;500;600;700;800;900&family=Tajawal:wght@200;300;400;500;700;800;900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=La+Belle+Aurore&display=swap');


:root {
  --main-color: #31cbf2;
  --main-color-alt: #2075d4;
  --second-color: #dc004d;
  --bg-color: #000405;
  --section-padding: 50px;
  --text-color: #888;
  --main-transition: all 0.5s ease-in-out;
}

/* Start Global Rules */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: "Fira Sans", sans-serif;
  background-color: var(--bg-color);
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}


html {
  scroll-behavior: smooth;
}

/* scrollbar */

body::-webkit-scrollbar {
  width: 1em;
  background-color: #000a0c;
}

body::-webkit-scrollbar-thumb {
  background-color: #2075d4;
  box-shadow: 0px 0px 30px 30px #2075d4;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

/* Large */
@media (min-width: 1100px) {
  .container {
    width: 1170px;
  }
}

/* Very Large */
@media (min-width: 1200px) {
  .container {
    width: 1300px;
  }
}

.main-title {
  margin: 30px auto 80px;
  border: 2px solid var(--text-color);
  padding: 10px 20px;
  font-size: 30px;
  width: fit-content;
  position: relative;
  z-index: 1;
  transition: var(--main-transition);
  color: var(--main-color);
  cursor: pointer;
  border-radius: 20px;
}

.main-title:hover {
  color: white;
  border: 2px solid white;
  transition-delay: 0.5s;
}

.main-title::before,
.main-title::after {
  content: "";
  width: 15px;
  height: 15px;
  background-color: var(--main-color);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 50%;
}

.main-title::before {
  left: -50px;
}

.main-title::after {
  right: -50px;
}

.main-title:hover::before {
  z-index: -1;
  animation: left-move 0.5s linear forwards;
}

.main-title:hover::after {
  z-index: -1;
  animation: right-move 0.5s linear forwards;
}

/* End Global Rules */

/* Start Whatsapp Contact */
.btn-social-buttons a {
  transform: scale(0);
}

.btn-social-buttons.show a {
  transform: scale(1);
}

.Whatsapp-Contact {
  bottom: 20px;
  position: fixed;
  right: 20px;
  z-index: 1000;
  width: 94px;
  height: 94px;
  background: #4ac534;
  border-radius: 50%;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.phone-Contact,
.Whatsapp-Contact {
  position: fixed;
  z-index: 1000;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.phone-Contact {
  background-color: #2b76ff;
  right: 20px;
  bottom: 20px;
}

.Whatsapp-Contact {
  background-color: #4ac534;
  right: 20px;
  bottom: 80px;
}

.Whatsapp-Contact svg,
.phone-Contact svg {
  color: #fff;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.phone-Contact svg {
  font-size: 27px;
}

.Whatsapp-Contact svg {
  font-size: 37px;
}

.phone-Contact:hover,
.phone-Contact:focus,
.Whatsapp-Contact:hover,
.Whatsapp-Contact:focus,
.phone-Contact:hover svg,
.phone-Contact:focus svg,
.Whatsapp-Contact:hover svg,
.Whatsapp-Contact:focus svg {
  transform: scale(1.1) rotate(360deg);
}

/* End Whatsapp Contact */

/* Start Back Top */
.top-btn.active {
  transform: translateY(0px);
}

.top-btn {
  position: fixed;
  width: 50px;
  height: 50px;
  bottom: 40px;
  left: 20px;
  right: auto;
  border-radius: 50%;
  cursor: pointer;
  line-height: 50px;
  z-index: 999;
  transition: all 1s ease-in-out;
  transform: translateY(200px);
}

.icons-back-top {
  display: flex;
  flex-direction: column;
  text-align: center;
  transition: all 0.5s ease-in-out;
}

.icons-back-top::before {
  content: "";
  position: absolute;
  width: 50px;
  height: 50px;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  border-left: 2px solid var(--second-color);
  border-radius: 50%;
  animation: btn-top 3s linear infinite;
  transition: all 0.5s ease-in-out;
}

.icons-back-top:hover::before {
  animation: btn-top .5s linear infinite;
  border-color: var(--main-color-alt);
  transition: all 0.5s ease-in-out;
}

.top-btn svg {
  transition: all 0.5s ease-in-out;
}

.top-btn svg:first-child {
  font-size: 30px;
  color: var(--main-color-alt);
  margin-top: 7px;
}

.top-btn svg:last-child {
  font-size: 20px;
  color: var(--main-color);
  margin-top: -15px;
}

.icons-back-top:hover svg {
  color: var(--second-color);
}

/* End Back Top */

/* Start Header */
.nav-container {
  height: 73px !important;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 75px;
  background:
    linear-gradient(135deg, rgba(255, 255, 255, 0.1),
      rgba(255, 255, 255, 0));
  backdrop-filter: blur(5px);
  border-bottom: 1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
  transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
  z-index: 999;
}

@media (max-width: 767px) {
  .nav-container {
    height: 73px !important;
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 999;
    height: auto;
    background: 0;
    border: none;
    box-shadow: none;
    backdrop-filter: none;
  }

  .nav-container .container {
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(5px);
    border-bottom: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 20px 20px 50px rgb(0 0 0 / 50%);
    transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
  }
}

.nav-container--top-first {
  position: fixed;
  top: 75px;
  transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
}

.nav-container--top-second {
  position: fixed;
  top: 0;
}

.nav-container--top-third {
  position: fixed;
  bottom: 0;
}

.navbar-brand {
  color: var(--main-color);
  font-family: "Josefin Sans", sans-serif;
  font-weight: bold;
  letter-spacing: 1px;
}

.navbar-brand img {
  width: 40px;
  height: 40px;
  margin-right: 5px;
}

.nav-link {
  font-size: 20px;
  color: var(--main-color);
}

.nav-link:focus,
.nav-link:hover {
  color: var(--second-color);
  font-weight: bold;
}

.navbar-brand:focus,
.navbar-brand:hover {
  color: var(--second-color);
}

.navbar-toggler {
  border-color: var(--second-color);
}

.navbar-toggler:focus {
  box-shadow: 0px 0px 8px 3px var(--second-color);
}

.navbar-toggler {
  width: 56px;
  height: 40px;
}

.navbar-toggler span {
  display: block;
  height: 3px;
  width: 30px;
  border-radius: 6px;
  margin: 5px 0;
  background-color: #888;
}

.navbar-nav .nav-link.active,
.navbar-nav .nav-link:focus,
.navbar-nav .show>.nav-link:focus,
.navbar-nav .show>.nav-link {
  color: var(--second-color);
  font-weight: bold;
}

.dropdown-menu[data-bs-popper] {
  top: 125%;
  left: -80px;
}

/* End Header */

/* Start Canvas Background */

.nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
  text-align: center;
  cursor: pointer;
}

.nav .brandName {
  font-family: "Josefin Sans", sans-serif;
  font-size: 8vw;
  margin: 0;
  padding-bottom: 15px;
  letter-spacing: 5px;
  color: var(--main-color);
  transition: all 0.4s ease;
  position: relative;
  z-index: 3;
  font-weight: bold;
}

.brandName:hover {
  transform: translate3d(0, -10px, 22px);
  color: var(--second-color);
}

.background:hover .nav .brandName {
  transform: translate3d(0, -10px, 22px);
  color: var(--second-color);
}

.nav:hover .brandName {
  transform: translate3d(0, -10px, 22px);
  color: var(--second-color);
}

.nav h2 {
  font-family: "Josefin Sans", sans-serif;
  position: relative;
  z-index: 3;
}


.background {
  position: absolute;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 0;
}


@media (max-width: 360px) {
  .nav h2 {
    font-size: 5vw;
  }
}

@media (min-width: 360px) {

  .nav .brandName {
    font-size: 9vw;
  }

  .nav h2 {
    font-size: 4vw;
    letter-spacing: 0.5vw;
  }
}

@media (min-width: 800px) {

  .nav .brandName {
    font-size: 9vw;
  }

  .nav h2 {
    font-size: 3vw;
  }
}

.loader span {
  color: var(--main-color);
  text-shadow: 0 0 0 var(--main-color);
  -webkit-animation: loading 1s ease-in-out infinite alternate;
}

@-webkit-keyframes loading {
  to {
    text-shadow: 20px 0 70px var(--second-color);
    color: var(--second-color);
  }
}

.loader span:nth-child(2) {
  -webkit-animation-delay: 0.1s;
}

.loader span:nth-child(3) {
  -webkit-animation-delay: 0.2s;
}

.loader span:nth-child(4) {
  -webkit-animation-delay: 0.3s;
}

.loader span:nth-child(5) {
  -webkit-animation-delay: 0.4s;
}

.loader span:nth-child(6) {
  -webkit-animation-delay: 0.5s;
}

.loader span:nth-child(7) {
  -webkit-animation-delay: 0.6s;
}

.loader span:nth-child(8) {
  -webkit-animation-delay: 0.7s;
}

.loader span:nth-child(9) {
  -webkit-animation-delay: 0.8s;
}

.loader span:nth-child(10) {
  -webkit-animation-delay: 0.9s;
}

.loader span:nth-child(11) {
  -webkit-animation-delay: 1s;
}

.loader span:nth-child(12) {
  -webkit-animation-delay: 1.1s;
}

.loader span:nth-child(13) {
  -webkit-animation-delay: 1.2s;
}

.loader span:nth-child(14) {
  -webkit-animation-delay: 1.3s;
}

.loader span:nth-child(15) {
  -webkit-animation-delay: 1.4s;
}

.loader span:nth-child(16) {
  -webkit-animation-delay: 1.5s;
}

.loader span:nth-child(17) {
  -webkit-animation-delay: 1.6s;
}

.loader span:nth-child(18) {
  -webkit-animation-delay: 1.7s;
}

.loader span:nth-child(19) {
  -webkit-animation-delay: 1.8s;
}

.loader span:nth-child(20) {
  -webkit-animation-delay: 1.9s;
}

.loader span:nth-child(21) {
  -webkit-animation-delay: 2s;
}

.loader span:nth-child(22) {
  -webkit-animation-delay: 2.1s;
}

/* End Canvas Background */

/* Start Landing Page */

.landing {
  position: relative;
  display: flex;
  height: calc(100vh - 70px);
  background-image: url(../images/Bg-landing.WebP);
  background-size: cover;
  background-position: 50%;
}

.overlay {
  background-color: rgb(0 0 0 / 90%);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.landing .container {
  display: flex;
  z-index: 2;
}

.landing .left-content {
  width: 70%;
  z-index: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.landing .left-content .inner-content {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.landing .left-content .inner-content .text-auto {
  color: var(--main-color);
}

.speed-counter {
  bottom: 20px;
  right: 0;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.7);
  padding: 5px 10px;
  font-size: 18px;
}

.speed-counter input {
  width: 50px;
  padding: 5px;
  font-size: 18px;
  background-color: var(--main-color);
  border: none;
  text-align: center;
}

.speed-counter input:focus {
  outline: none;
}

.landing .left-content .inner-content aside {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  align-items: flex-start;
  margin-right: 30px;
}

.landing .left-content .inner-content aside ul {
  margin: 0;
  padding: 0;
  margin-top: 60px;
}

.landing .left-content .inner-content aside ul li a svg {
  margin: 15px 5px;
  font-size: 22px;
  color: var(--main-color);
}

.landing .left-content .inner-content aside .scrol {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-top: 50px;
  z-index: 5;
}

.landing .left-content .inner-content aside .scrol span {
  width: 1px;
  height: 50px;
  background: var(--text-color);
}

.landing .left-content .inner-content aside .scrol .scroll-icon {
  margin: 10px 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid var(--text-color);
  cursor: pointer;
  position: relative;
}

.landing .left-content .inner-content aside .scrol .scroll-icon svg {
  color: var(--text-color);
  font-size: 14px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-animation: scroll 1.5s ease-in-out infinite;
  animation: scroll 1.5s ease-in-out infinite;
}

.landing .left-content .inner-content main {
  min-width: 75%;
}

.landing .left-content .inner-content main .hey {
  text-transform: uppercase;
  color: var(--main-color);
  padding-left: 5px;
}

.landing .left-content .inner-content main p {
  color: var(--text-color);
  margin-top: 20px;
}

.landing .left-content .inner-content main .h1 {
  text-transform: uppercase;
  color: var(--main-color);
}

.landing .left-content .inner-content main h2 {
  margin-top: 20px;
  color: var(--text-color);
}

.landing .left-content .inner-content main .qoute {
  width: 90%;
}

.landing .left-content .inner-content main .btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
  width: 100%;
  margin-top: 30px;
}

.btns a {
  background-color: #212121;
  text-decoration: none;
  padding: 15px;
  border-radius: 4px;
  color: #ffffff;
  -webkit-box-shadow: rgb(0 0 0 / 25%) 0px 1px 4px;
  box-shadow: rgb(0 0 0 / 25%) 0px 1px 4px;
  font-size: 14px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.btns a:hover {
  background-color: var(--main-color);
}

.landing .right-slider {
  z-index: 0;
  width: 30%;
  margin: auto;
}

.landing .my_pic {
  position: relative;
  height: 300px;
  width: 300px;
  border: 6px solid var(--main-color);
  margin: auto;
  background-image: url(../images/me.WebP);
  background-size: cover;
  background-position: 50%;
  border-radius: 70% 34% 30% 66%/65% 30% 70% 70%;
  border-radius: 100% 0 100% 0/0 0 100% 100%;
  -webkit-animation: border-radius_animation 10s linear infinite;
  animation: border-radius_animation 10s linear infinite;
  -webkit-animation: border-radius_animation 8s linear infinite;
  animation: border-radius_animation 8s linear infinite;
}

@media (max-width:991px) {
  .landing .container {
    flex-direction: column-reverse;
  }

  .landing {
    height: auto;
  }

  .landing .right-slider {
    margin: 50px auto 0px;
  }

  .landing .left-content {
    width: 100%;
  }

  .landing .right-slider {
    width: 100%;
  }

  .speed-counter {
    display: none;
  }
}

@media (max-width: 500px) {
  .landing .left-content .inner-content main h2 {
    font-size: 20px;
  }

  .landing .left-content .inner-content main .qoute {
    width: 95%;
  }
}

@media (max-width: 350px) {
  .landing .left-content .inner-content main h2 {
    font-size: 18px;
  }

  .landing .left-content .inner-content main .btns {
    gap: 25px;
  }

  .btns a {
    padding: 10px;
  }

  .landing .left-content .inner-content main .qoute {
    width: 100%;
  }

  .navbar-brand {
    font-size: 15px;
  }

  .navbar-brand img {
    width: 35px;
    height: 35px;
  }

  .about .images img {
    width: 80%;
    height: 90%;
  }
}

/* End Landing Page */

/* Start About Section */

.about {
  padding-top: var(--section-padding);
}

.about .images {
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 320px;
  max-height: 320px;
}

.about .images::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0;
  border: 10px solid var(--main-color);
  border-radius: 6px;
  z-index: 0;
}

.about .images img {
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 320px;
  max-height: 320px;
  border-radius: 6px;
  top: 45px;
  left: 30px;
  z-index: 1;
  object-fit: cover;
  object-position: top;
}

.about .text {
  margin-top: 60px;
}

.about .text p {
  color: var(--text-color);
}

.contact-about .btns {
  gap: 30px;
  width: 100%;
  margin-top: 30px;
}

.about .text .link {
  color: var(--main-color);
  transition: var(--main-transition);
}

.about .text .link:hover {
  letter-spacing: 1px;
}

.contact-about .btns .contact {
  letter-spacing: 1px;
}

@media (max-width: 400px) {
  .about .images img {
    width: 90%;
    height: 90%;
  }

  .about .images::after {
    width: 90%;
    height: 90%;
  }

  .about .text {
    padding: 0px 27px;
  }
}

/* End About Section */

/* Start Services Section */

.services {
  padding-top: var(--section-padding);
}

.services .services-card {
  position: relative;
  border-radius: 10px;
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
  backdrop-filter: blur(10px);
  box-shadow: -3px 5px 13px 1px rgb(49 203 242 / 30%), inset 0px 0px 10px 1px var(--main-color-alt);
  overflow: hidden;
  transition: var(--main-transition);
  cursor: pointer;
  padding: 5px;
  margin: 15px 10px;
  max-width: 300px;
}


@media (max-width: 1100px) {
  .services .services-card.col-lg-3 {
    max-width: 300px;
  }
}

@media (min-width: 1100px) {
  .services .services-card.col-lg-3 {
    width: 23%;
  }
}


.services .services-card::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 5px;
  background-color: var(--main-color-alt);
  transition: var(--main-transition);
}

.services .services-card:hover::before {
  width: 100%;
}

.services .services-card .image {
  width: 100px;
  height: 100px;
  margin: 20px auto 0;
}

.services .services-card:hover {
  opacity: 0.9;
  transform: translateY(-10px) scale(1.1);
}

.services .services-card .image img {
  width: 100%;
  height: 100%;
}

.services .services-card .info {
  padding: 20px 0px;
  text-align: center;
}

.services .services-card .info h3 {
  font-weight: bold;
  color: var(--main-color);
}

/* End Services Section */

/* Start Skills Section */

.skills-section {
  position: relative;
  padding-top: var(--section-padding);
  text-align: center;
  overflow: hidden;
}

.skills-section h3 {
  color: #adabab;
}

/* 3D Rotating Cube */
.career-section-image {
  position: relative;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 30rem;
  flex: 1 1 30rem;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: rotate-skils 18s ease-in-out 1s infinite alternate-reverse;
  -webkit-animation: rotate-skils 18s ease-in-out 1s infinite alternate-reverse;
  -o-animation: rotate-skils 18s ease-in-out 1s infinite alternate-reverse;
  z-index: 1;
}

.career-section-wrapper:nth-child(2),
.career-section-wrapper:last-child {
  -ms-flex-wrap: wrap-reverse;
  flex-wrap: wrap-reverse;
}

.career-section-image img {
  width: 100%;
  max-width: 75%;
}

.career-image-overflow {
  height: 37rem;
}

.cube-container {
  perspective: 600px;
}

.cube {
  position: relative;
  width: 300px;
  height: 300px;
  transform-style: preserve-3d;
  animation: spin 18s linear infinite;
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cube__face {
  position: absolute;
  width: 100%;
  height: 100%;
  box-shadow: inset 0 0 100px #02203c;
  display: flex;
  align-items: center;
}

.cube__face img {
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  height: auto;
  background: transparent;
}

.cube-face--left {
  transform: rotateY(-90deg) translateZ(150px);
}

.cube-face--front {
  transform: rotateY(0deg) translateZ(150px);
}

.cube-face--back {
  transform: rotateY(180deg) translateZ(150px);
}

.cube-face--right {
  transform: rotateY(90deg) translateZ(150px);
}

.cube-face--top {
  transform: rotateX(90deg) translateZ(150px);
}

.cube-face--bottom {
  transform: rotateX(-90deg) translateZ(150px);
}

@media (max-width: 600px) {

  .cube__face {
    width: 70%;
    height: 70%;
  }

  .cube-face--left {
    transform: rotateY(-90deg) translateZ(105px);
  }

  .cube-face--front {
    transform: rotateY(0deg) translateZ(105px);
  }

  .cube-face--back {
    transform: rotateY(180deg) translateZ(105px);
  }

  .cube-face--right {
    transform: rotateY(90deg) translateZ(105px);
  }

  .cube-face--top {
    transform: rotateX(90deg) translateZ(105px);
  }

  .cube-face--bottom {
    transform: rotateX(-90deg) translateZ(105px);
  }
}

/* End Skills Section */

/* Start Work Gallery Section */

.gallery {
  padding-top: var(--section-padding);
  text-align: center;
}

.gallery h3 {
  padding: 0 0 50px;
  color: #adabab;
}

.gallery .portfolio {
  position: relative;
  border-radius: 6px;
  margin: 5px 0;
}

.gallery .portfolio .link-top {
  position: absolute;
  left: 12px;
  top: -17px;
  width: 93%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom-left-radius: 6px;
  border-top-right-radius: 6px;
  padding: 0.3rem 1rem;
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
  box-shadow: inset 0px 0px 6px var(--main-color);
}

.gallery .portfolio .link-top:hover {
  color: var(--main-color);
}

.gallery .portfolio .info {
  display: inline-block;
  background-color: #fff;
  margin: 20px 0;
  position: relative;
  overflow: hidden;
  box-shadow: 0 0 24px 0 rgb(0 0 0 / 12%);
  border-radius: 6px;
}

.gallery .portfolio .info:hover {
  opacity: .9;
}

.gallery .portfolio .info .images {
  max-width: 380px;
  max-height: 300px;
}

.gallery .portfolio .info img {
  width: 100%;
  height: 100%;
  -webkit-transition: all 3s ease-in-out;
  -moz-transition: all 3s ease-in-out;
  -o-transition: all 3s ease-in-out;
  transition: all 3s ease-in-out;
  cursor: pointer;
}

.gallery .portfolio .info:hover img {
  transform: translateY(-250px);
  -webkit-transform: translateY(-250px);
  -moz-transform: translateY(-250px);
  -ms-transform: translateY(-250px);
  -o-transform: translateY(-250px);
}

.gallery .portfolio .info .link-bottom {
  position: absolute;
  bottom: -58px;
  left: 0;
  width: 100%;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.gallery .portfolio .info:hover .link-bottom {
  bottom: 0;
}

.gallery .portfolio .info .link-bottom a {
  width: 50%;
  float: left;
  text-align: center;
  background-color: var(--main-color);
  color: #fff;
  padding: 18px 0;
  border-right: 1px solid #a5a5a594;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.gallery .portfolio .info .link-bottom a svg {
  font-size: 20px;
}

/* End Work Gallery Section */

/* Start Contact Us Section */

.contact {
  padding-top: var(--section-padding);
}

.contact .contact-desc {
  color: #adabab;
  width: 80%;
  margin: 10px auto;
}

.contact .contact-desc .text-coding {
  font-family: 'La Belle Aurore', cursive;
  color: var(--main-color);
}

.contact-form {
  width: 90%;
  max-width: 600px;
  margin: 20px auto 50px;
}

.contact-form input {
  margin: 10px 0;
}

.contact-form input[type="text"],
input[type='email'] {
  width: 100%;
  height: 50px;
  outline: none;
  border: none;
  background: #3a3939;
  padding: 5px 20px;
  border-right: 2px solid var(--main-color);
  color: #adabab;
}

.contact-form textarea {
  width: 100%;
  height: 30vh;
  background: #3a3939;
  outline: none;
  border: none;
  padding: 20px;
  color: #adabab;
}

.contact-form span {
  display: block;
  width: 100%;
  text-align: center;
  padding: 10px;
  cursor: pointer;
  background: var(--main-color);
  color: #212529;
  font-weight: bold;
}

@media (max-width: 500px) {
  .contact .contact-desc {
    width: 100%;
  }
}

/* End Contact Us Section */

/* Start Footer Section */

.footer {
  box-shadow: 0px 0px 6px 1px rgb(49 203 242 / 30%), inset 0px -5px 10px 0px var(--main-color-alt);
}

.footer .container h2 {
  box-shadow: 0px -2px 10px 2px rgb(49 203 242 / 30%), inset -10px -10px 10px 0px var(--main-color-alt);
  background-color: rgb(49 203 242 / 10%);
  transition: var(--main-transition);
  color: var(--main-color);
}

.container .social-icons ul li {
  transition: var(--main-transition);
}

.social-icons ul a {
  margin-right: 5px;
  box-shadow: 0px -2px 10px 2px rgb(49 203 242 / 30%), inset 1px -4px 10px 0px var(--main-color-alt);
  transition: var(--main-transition);
  background-color: rgb(49 203 242 / 15%);
  transition: var(--main-transition);
}

.container .social-icons ul li:hover {
  transform: scale(0.8);
}

.container .social-icons ul li .phone:hover {
  background-color: #2b76ff;
}

.container .social-icons ul li .whatsapp:hover {
  background-color: #4ac534;
}

.container .social-icons ul li .facebook:hover {
  background-color: #1877f2;
}

.container .social-icons ul li .linkedin:hover {
  background-color: #0077b5;
}

.container .social-icons ul li .github:hover {
  background-color: #000;
}

.container .social-icons ul li .whatsapp:hover {
  background-color: #4ac534;
}

.box-information {
  margin-left: 25%;
}

.footer .container .information svg {
  color: var(--main-color);
  margin-right: 10px;
}

.footer .container .text {
  line-height: 2;
  font-size: 14px;
}

.footer .copyright {
  border-top: 2px solid rgb(39 64 114 / 30%);
  transition: var(--main-transition);
}

.footer .copyright span {
  color: var(--main-color);
  transition: var(--main-transition);
}

.footer .copyright:hover span {
  border-bottom: 2px solid var(--main-color);
}

/* End Footer Section */






/* Start Footer */
footer {
  background: -o-linear-gradient(135deg, #000 0%, #000a0c 74%);
  background: linear-gradient(315deg, #000 0%, #000a0c 74%);
  padding: 30px 0 0;
}


footer .title {
  position: relative;
  font-weight: bold;
  color: var(--main-color);
  border-bottom: 3px solid var(--second-color);
  padding-bottom: 5px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0px auto 20px;
  border-radius: 10px;
}

footer .title::before {
  content: "";
  position: absolute;
  border: 10px solid;
  border-color: transparent;
  border-top-color: var(--main-color);
  bottom: -23px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

footer .title {
  margin-bottom: 40px;
}

footer .links {
  direction: rtl;
}

footer .links ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  -ms-flex-direction: column-reverse;
  flex-direction: column-reverse;
}

footer .links li {
  border: 1px solid var(--second-color);
  border-radius: 20px;
  margin: 3px;
  padding: 5px;
  -webkit-transition: all ease-in-out 0.3s;
  -o-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
}

footer .links li:hover {
  margin-right: 20px;
}

footer .links li a {
  color: var(--main-color);
  font-weight: bold;
  -webkit-transition: all ease-in-out 0.3s;
  -o-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
}

footer .links li a svg {
  margin-left: 10px;
  color: var(--second-color);
}

.contribution img {
  width: 200px;
  height: 200px;
}

.contribution .vodafone {
  color: var(--main-color);
  font-size: 20px;
}

.contribution .vodafone .voda {
  border-bottom: 2px solid var(--second-color);
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.contribution .vodafone .voda span {
  font-weight: bold;
  letter-spacing: 1px;
}

.contribution .vodafone .voda svg {
  color: var(--second-color);
  margin: 0 10px;
}


footer .contact-us {
  text-align: center;
}

footer .contact-us .button {
  display: inline-block;
  width: 60px;
  height: 60px;
  margin: 0 5px;
  background: #fff;
  border-radius: 50px;
  cursor: pointer;
  -webkit-box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
  -webkit-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  overflow: hidden;
}

footer .contact-us .button .icon {
  display: inline-block;
  height: 60px;
  width: 60px;
  text-align: center;
  border-radius: 50px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  line-height: 75px;
  -webkit-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  color: var(--main-color);
  background-color: #fff;
}

footer .contact-us .button .icon svg {
  font-size: 30px;
  line-height: 60px;
}

footer .contact-us .button span {
  font-size: 20px;
  font-weight: 500;
  line-height: 60px;
  margin-left: 10px;
}

footer .contact-us .button:hover {
  width: 200px;
  text-align: left;
}

footer .contact-us .facebook-icon:hover .icon {
  background-color: #395295;
  color: #fff;
}

footer .contact-us .phone-icon:hover .icon {
  background-color: #2b76ff;
  color: #fff;
}

footer .contact-us .github-icon:hover .icon {
  background-color: #000;
  color: #fff;
}

footer .contact-us .email-icon:hover .icon {
  background-color: #64a6d8;
  color: #fff;
}

footer .contact-us .linkedin-icon:hover .icon {
  background-color: #000;
  color: #fff;
}

footer .contact-us .whatsapp-icon:hover .icon {
  background-color: #447634;
  color: #fff;
}

footer .contact-us .facebook-icon:hover span {
  color: #395295;
}

footer .contact-us .email-icon:hover span {
  color: #64a6d8;
}

footer .contact-us .github-icon:hover span {
  color: #000;
}

footer .contact-us .phone-icon:hover span {
  color: #2b76ff;
}

footer .contact-us .linkedin-icon:hover span {
  color: #000;
}

footer .contact-us .whatsapp-icon:hover span {
  color: #447634;
}

.copyrights {
  text-align: center;
  margin: 30px 0 0;
  font-size: 18px;
  padding: 10px 0 10px;
  border-top: 1px solid var(--second-color);
}

.copyrights a {
  color: var(--main-color);
}

.copyrights a span {
  font-weight: bold;
  color: var(--second-color);
}

@media(max-width: 767px) {
  footer .contact-us .button {
    width: 40px;
    height: 40px;
  }

  footer .contact-us .button .icon {
    width: 40px;
    height: 40px;
    line-height: 48px;
  }

  footer .contact-us .button .icon svg {
    font-size: 25px;
  }

  footer .contact-us .button:hover {
    width: 150px;
  }

  footer .contact-us .button span {
    line-height: 46px;
    margin-left: 2px;
  }

  footer .links ul {
    display: block;
  }


  footer .links li:hover a {
    margin-right: 20px;
  }

  .contribution .vodafone .voda svg {
    margin: 0px 3px;
  }

}


@media (max-width:360px) {
  .copyrights {
    font-size: 14px;
  }
}

@media (max-width:320px) {
  .copyrights {
    font-size: 13px;
  }
}

/* End Footer */





/* Scroll Animaition */

main section {
  overflow: hidden;
}

main .trans-x {
  transform: translateX(2000px);
  transition: transform 1s ease;
}

main .trans-x:nth-of-type(even) {
  transform: translateX(-2000px);
}

main .trans-x.show {
  transform: translateX(0px);
}


main .trans-y {
  transform: translateY(-400vh);
  transition: transform 1.5s ease;
}

main .trans-y.show {
  transform: translateY(0px);
}


main .scale {
  transform: scale(0);
  transition: transform 1.5s ease;
}

main .scale.show {
  transform: scale(1);
}


/* start Animation */

@keyframes btn-top {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(1turn);
  }
}

@keyframes scroll {

  0%,
  to {
    top: 7px
  }

  100% {
    top: 30px
  }
}

@keyframes border-radius_animation {

  0%,
  to {
    border-radius: 70% 34% 30% 66%/65% 48% 52% 35%;
    top: 0;
  }

  50% {
    border-radius: 30% 70% 70% 30%/30% 30% 70% 70%;
    top: -50px;
  }

}

@keyframes left-move {
  50% {
    left: 0;
    width: 15px;
    height: 15px;
  }

  100% {
    left: 0;
    border-radius: 0;
    border-top-left-radius: 17px;
    border-bottom-left-radius: 17px;
    width: 51%;
    height: 100%;
  }
}

@keyframes right-move {
  50% {
    right: 0;
    width: 15px;
    height: 10px;
  }

  100% {
    right: 0;
    border-radius: 0;
    border-top-right-radius: 17px;
    border-bottom-right-radius: 17px;
    width: 50%;
    height: 100%;
  }
}

@keyframes rotate-skils {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(1turn);
  }
}

@keyframes spin {
  from {
    transform: rotateY(0);
  }

  to {
    transform: rotateY(1turn);
  }
}

/* End Animation */